/* Placeholder CSS file */
body {
    /* Custom styles can be added here */
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/static/webfonts/opendyslexic3-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#saved-articles {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    gap: 1rem;
}

#saved-articles .saved-article {
    flex: 0 0 auto;
    width: calc(50% - 0.5rem); /* Adjust width to show 2 cards */
}